@tailwind base;
@tailwind components;

.tabs {
    @apply flex gap-12 border-b-2 border-gray-500 pb-2 pl-20 mt-10;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 40px;
}

.tab-btn {
    @apply text-gray-500;
}

.tab-btn-active {
    @apply text-red-500;
}

.item-card {
    /*@apply flex flex-col;
    padding: 15px;*/
    @apply p-4;
}

.item-image {
    @apply w-full aspect-square object-cover rounded;
}

.item-name {
    @apply font-bold;
    font-size: 22px;
}

@tailwind utilities;