.address-form__heading {
    margin: 40px auto;
    width: fit-content;
    font-size: 36px;
}

.address-form__inner {
    display: flex;
    justify-content: center;
    max-width: 100vw;
}

.address-form__form {
    width: 50%;
}

.address-form__label {
    display: block;
    font-weight: bold;
    font-size: 24px;
}

.address-form__input {
    border: solid 1px #5f5f5f;
    border-radius: 3px;
    width: 100%;
    padding: 20px;
}

.address-form__error-message {
    color: #ff5555;
}

.address-form__button {
    background-color: #ff5555;
    color: #fff;
    font-weight: bold;
    font-size: 26px;
    border: none;
    border-radius: 3px;
    width: 100%;
    padding: 10px 5px;
    margin-top: 50px;
}
