.header {
    display: flex;
    background: #000;
    padding: 10px;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    list-style-type: none;
}

.header-nav__link, .header-nav__button {
    color: #fff;
    font-size: 24px;
    font-weight: 200;
    padding: 5px 25px;
}

.header-nav__button {
    border: none;
    background-color: #000;
}

.header-nav__link {
    text-decoration: none;
}

.header-nav__link--sell {
    color: #000;
    background-color: #fff;
    font-size: 24px;
    padding: 5px 25px;
    margin-right: 20px;
    border-radius: 5px;
    text-decoration: none;
}