.mypage-profile {
    display: flex;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    gap: 40px;
    padding: 40px;
}

.mypage-profile__image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #ddd;
    background-size: cover;
    background-position: center;
}

.mypage-profile__name {
    font-size: 35px;
    font-weight: bold;
}

.mypage-profile__edit-button {
    margin-left: auto;
    color: #ff5555;
    border: solid 2px #ff5555;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}