.profile-form__heading {
    margin: 40px auto;
    width: fit-content;
    font-size: 36px;
}

.profile-form__inner {
    display: flex;
    justify-content: center;
    max-width: 100vw;
}

.profile-form__form {
    width: 50%;
}

.profile-form__group--image {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 40px;
}

.profile-form__preview {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #ddd;
    background-size: cover;
    background-position: center;
}

.profile-form__file-label {
    display: inline-block;
    color: #ff5555;
    border: solid 2px #ff5555;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
}

.profile-form__file-input {
    display: none;
}

.profile-form__group {
    display: block;
    margin-bottom: 24px;
}

.profile-form__label {
    display: block;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 8px;
}

.profile-form__input {
    border: solid 1px #5f5f5f;
    border-radius: 3px;
    width: 100%;
    padding: 20px;
}

.profile-form__error-message {
    color: #ff5555;
}

.profile-form__button {
    background-color: #ff5555;
    color: #fff;
    font-weight: bold;
    font-size: 26px;
    border: none;
    border-radius: 3px;
    width: 100%;
    padding: 10px 5px;
    margin-top: 50px;
    margin-bottom: 25px;
}
