.sell-form__heading {
    margin: 40px auto;
    width: fit-content;
    font-size: 36px;
}

.sell-form__inner {
    display: flex;
    justify-content: center;
    max-width: 100vw;
}

.sell-form__form {
    width: 50%;
}

.sell-form__group--image {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 40px;
}

.sell-form__preview {
    position: relative;
    width: 100%;
    height: 150px;
    border-radius: 3px;
    border: dashed 1px #5f5f5f;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sell-form__file-label {
    position: absolute;
    color: #ff5555;
    border: solid 2px #ff5555;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    background: #fff;
    opacity: 0.9;
}

.sell-form__file-input {
    display: none;
}

.sell-form__title {
    font-size: 28px;
    color: #5f5f5f;
    border-bottom: solid 1px #5f5f5f;
    padding-bottom: 5px;
    padding-top: 25px;
}

.sell-form__group {
    display: block;
    margin-bottom: 24px;
}

.sell-form__label {
    display: block;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 8px;
}

.category-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 24px;
}

.category-item {
    display: inline-flex;
    align-items: center;
}

.sell-form__checkbox {
    display: none;
    flex: 0 1 calc(100% / 6 - 10px);
    justify-content: center;
}

.category-label {
    display: inline-block;
    padding: 4px 14px;
    margin: 4px;
    border: 2px solid #ff5555;
    color: #ff5555;
    border-radius: 20px;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
    font-size: 14px;
}

.sell-form__checkbox:checked + .category-label {
    background-color: #ff5555;
    color: #ffffff;
}

.select-wrapper {
    position: relative;
    width: 100%;
}

.select-wrapper::after {
    content: "▼";
    color: #5f5f5f;
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    pointer-events: none;
}

.sell-form__select option {
    background-color: #B1B1B1;
    color: #EAEAEA;
    padding: 10px 28px;
}

.sell-form__input {
    border: solid 1px #5f5f5f;
    border-radius: 3px;
    width: 100%;
    padding: 10px;
}

.sell-form__select {
    border: solid 1px #5f5f5f;
    border-radius: 3px;
    font-size: 16px;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    appearance: none;
    cursor: pointer;
}

.price-input-wrap {
    position: relative;
    width: 100%;
    display: block;
}

.price-input-wrap .sell-form__input {
    padding-left: 28px;
}

.price-input-wrap::before {
    content: "￥";
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #5f5f5f;
}

.sell-form__error-message {
    color: #ff5555;
}

.sell-form__button {
    background-color: #ff5555;
    color: #fff;
    font-weight: bold;
    font-size: 26px;
    border: none;
    border-radius: 3px;
    width: 100%;
    padding: 10px 5px;
    margin-top: 50px;
    margin-bottom: 25px;
}